<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{employee.firstname | uppercase}}</h3>
  </div>
  <div class="panel-body">

    <div class="col-xs-8">
      <div class="row vertical-align">
        <div class="col-xs-6">
          Firstname:{{employee.firstName}}
        </div>
      </div>

      <div class="row vertical-align">
        <div class="col-xs-6">
          Lastname:{{employee.lastName}}
        </div>
      </div>

      <div class="row vertical-align">
        <div class="col-xs-6">
          Gender:{{employee.gender}}
        </div>
      </div>

      <div class="row vertical-align">
        <div class="col-xs-6">
          BirthDate:{{employee.birthDate}}
        </div>
      </div>

      <div class="row vertical-align">
        <div class="col-xs-6">
          Email:{{employee.email}}
        </div>
      </div>
    </div>
  </div>
  <hr>
</div>
