<p>employees list!</p>
<div class="panel panel-primary" *ngFor="let employee of employees">
  <div class="panel-heading">
  </div>
  <div class="panel-body">

    <div class="col-xs-8">
      <div class="row vertical-align">
        <div class="col-xs-6">
          Firstname
        </div>
        <div class="col-xs-6">
          :{{employee.firstName}}
        </div>
      </div>

      <div class="row vertical-align">
        <div class="col-xs-6">
          Lastname
        </div>
        <div class="col-xs-6">
          :{{employee.lastName}}
        </div>
      </div>

      <div class="row vertical-align">
        <div class="col-xs-6">
          Gender
        </div>
        <div class="col-xs-6">
          :{{employee.gender}}
        </div>
      </div>

      <div class="row vertical-align">
        <div class="col-xs-6">
          BirthDate
        </div>
        <div class="col-xs-6">
          :{{employee.birthDate}}
        </div>
      </div>

      <div class="row vertical-align">
        <div class="col-xs-6">
          Email
        </div>
        <div class="col-xs-6">
          :{{employee.email}}
        </div>
      </div>
    </div>
  </div>
</div>
